GROQ_API_KEY=

# LangSmith Tracing Configuration
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=medical-rag-assistant
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=medical-rag-assistant
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
