--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
python-dotenv
langchain
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
langgraph
chromadb
sentence-transformers
pysqlite3-binary
pydantic
torch
